.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 10rem;
}

.title{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.content-fact{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  min-height: 8rem;
}

.content-img-container{
  /* overflow: hidden; */
  
  /* width: 60rem; */
  /* height: 40rem; */
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-img{
  width: 100%;
  height: auto;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}